*.exe
*.tar
*.zip
*.rar
*.msi
*.dll

node_modules/
dist/
build/
release/
win-unpacked/
out/

exe/
wifi/Helen-Shell/release/
wifi/Helen-Shell/release-panels/
wifi/Helen-Windows-Build/
wifi/iOS/group-call-app/release/
wifi/CommClient-Server/*.exe
