# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.build/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp

# OS
.DS_Store
Thumbs.db

# Generated
**/*.g.dart
**/*.freezed.dart
**/*.config.dart
**/*.gr.dart
lib/l10n/generated/

# Coverage
coverage/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
android/app/debug.keystore
android/app/release-keystore.jks
android/.cxx/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/flutter_assets/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/

# Secrets
.env
.env.local
*.keystore
GoogleService-Info.plist
google-services.json

# Logs
*.log
